<div class="container" style="padding: 10px">
  <div class="row header">
    <div class="col-5">
      <a class="btn " routerLink="/trove/list" style="background-color: white;">
        <img style="width: 23px" src="/assets/icons/favicon-32x32.png">
        &nbsp;<strong>Trove</strong>
      </a>
    </div>
    <div class="col-7 text-right">
      <a class="btn btn-warning"
        *ngIf="bookmark"
        style="margin-right: 10px;"
        [routerLink]="['/trove/identifier', bookmark.id]"
        >
        <i class="fas fa-bookmark"
          title="Jump to Bookmark"
      ></i>
    </a>

      <a
        class="btn btn-warning"
        routerLink="/help"
      >
        <i class="fas fa-question"></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12" style="margin-top: .3em; margin-bottom: .3em;">
      <a class="btn btn-sm"
        [ngClass]="{
          'btn-warning': url !== '/trove/list',
          'btn-outline-warning': url === '/trove/list'
        }"
        routerLink="/trove/list"
      >
        List
      </a>
      <a class="btn btn-sm"
        [ngClass]="{
          'btn-warning': url !== '/trove/search',
          'btn-outline-warning': url === '/trove/search'
        }"
        style="margin-left: .5em;"
        routerLink="/trove/search"
      >
        Search
      </a>
      <a class="btn btn-sm"
        [ngClass]="{
          'btn-warning': url !== '/trove/favorite-creator',
          'btn-outline-warning': url === '/trove/favorite-creator'
        }"
        style="margin-left: .5em;"
        routerLink="/trove/favorite-creator"
        title="Favorite Artists"
      >
        <i class="fas fa-heart"></i> Artist
      </a>
      <a class="btn btn-sm"
        [ngClass]="{
          'btn-warning': url !== '/trove/favorite-identifier',
          'btn-outline-warning': url === '/trove/favorite-identifier'
        }"
        style="margin-left: .5em;"
        routerLink="/trove/favorite-identifier"
        title="Favorite Recordings"
      >
      <i class="fas fa-heart"></i> Recording
      </a>
      <a class="btn btn-sm"
        [ngClass]="{
          'btn-warning': url !== '/trove/more',
          'btn-outline-warning': url === '/trove/more'
        }"
        style="margin-left: .5em;"
        routerLink="/trove/more"
        title="even more…"
      >
      …
      </a>
    </div>
  </div>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>