<div class="container header">
  <div class="row">
    <div class="col-9">
      <a class="btn " routerLink="/trove/list" style="background-color: white;">
        <img style="width: 23px" src="/assets/icons/favicon-32x32.png">
        &nbsp;<strong>Trove</strong>
      </a>
    </div>
    <div class="col-3 text-right">
      <a
        class="btn btn-warning"
        routerLink="/help"
      >
        <i class="fas fa-question"></i>
      </a>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-12" style="margin: .3em;">
      <a class="btn btn-sm"
        [ngClass]="{
          'btn-warning': url !== '/trove/list',
          'btn-outline-warning': url === '/trove/list'
        }"
        routerLink="/trove/list"
      >
        List
      </a>
      <a class="btn btn-sm"
        [ngClass]="{
          'btn-warning': url !== '/trove/search',
          'btn-outline-warning': url === '/trove/search'
        }"
        style="margin-left: .5em;"
        routerLink="/trove/search"
      >
        Search
      </a>
      <a class="btn btn-sm"
        [ngClass]="{
          'btn-warning': url !== '/trove/favorite-creator',
          'btn-outline-warning': url === '/trove/favorite-creator'
        }"
        style="margin-left: .5em;"
        routerLink="/trove/favorite-creator"
      >
        Favorite
      </a>
      <a class="btn btn-sm"
        [ngClass]="{
          'btn-warning': url !== '/trove/favorite-identifier',
          'btn-outline-warning': url === '/trove/favorite-identifier'
        }"
        style="margin-left: .5em;"
        routerLink="/trove/favorite-identifier"
      >
        Fav. Recordings
      </a>
    </div>
  </div>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>