<div class="container" *ngIf="creator">
  <div class="row">
    <div class="col-12 h4">
      <div class="float-right" (click)="toggleFavorite()">
        <i class="fa-star text-warning"
          [ngClass]="{
            'fas': isFavorite,
            'far': ! isFavorite
          }"
        ></i>
      </div>
      {{ creator.name }}
    </div>
  </div>

  <div class="row" *ngIf="performanceDateVenueCoverageResult">
    <div class="col-12">
      <button
        class="cursor-clickable year"
        *ngFor="let year of creator._computed.years"
        [ngClass]="{
          'btn-primary': year === currentYear
        }"
        (click)="search(year);"
        >
        {{ year || '????' }}
      </button>
    </div>
  </div>

  <hr>

  <div *ngIf="noYears" class="alert alert-danger">
    No recordings found for this artist.
    <br>
    <br>
    Although this artist exists in Trove there are no recordings for them.
    This is an artifact of the data structure Trove uses.  Please excuse
    the inconvience.  We'd like to solve the problem too.
  </div>

  <div class="container" *ngIf="performanceDateVenueCoverageResult">
    <div
      class="row identifier"
      (click)="dateDetail(performanceDateVenueCoverage.performanceDate)"
      *ngFor="let performanceDateVenueCoverage of performanceDateVenueCoverageResult.result"
    >
      <div class="col-md-3">
        <strong>{{ performanceDateVenueCoverage.performanceDate || '????-??-??' }}</strong>
      </div>
      <div class="col-md-5">
        {{ performanceDateVenueCoverage.venue }}
      </div>
      <div class="col-md-4">
        {{ performanceDateVenueCoverage.coverage }}
      </div>
    </div>
  </div>

</div>