<div class="container" *ngIf="performanceDateVenueCoverageResult">
  <div class="row">
    <div class="col-12 h4">
      {{ creator.name }}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button
        class="cursor-clickable year"
        *ngFor="let year of creator._computed.years"
        [ngClass]="{
          'btn-primary': year === currentYear
        }"
        (click)="search(year);"
        >
        {{ year || '????' }}
      </button>
    </div>
  </div>

  <hr>

  <div class="container">
    <div
      class="row identifier"
      (click)="dateDetail(performanceDateVenueCoverage.performanceDate)"
      *ngFor="let performanceDateVenueCoverage of performanceDateVenueCoverageResult.result"
    >
      <div class="col-md-3">
        <strong>{{ performanceDateVenueCoverage.performanceDate || '????-??-??' }}</strong>
      </div>
      <div class="col-md-5">
        {{ performanceDateVenueCoverage.venue }}
      </div>
      <div class="col-md-4">
        {{ performanceDateVenueCoverage.coverage }}
      </div>
    </div>
  </div>

</div>