pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.identifier-action {
  width: 2.2em;
  margin-bottom: 5px;
  display: block;
}

div.etreedb-summary {
  border: solid;
  border-width: 2px;
  border-color: #ef9b49;
  padding: 5px;
  margin-bottom: 5px;
}

pre.etreedb-description {
  border: solid;
  border-width: 2px;
  border-color: #ef9b49;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: .5em;
}

pre.description {
  border: solid;
  border-width: 2px;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: .5em;
}