<div class="container" *ngIf="identifier">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-warning" *ngIf="listenedAt">
        Marked as listened on {{ listenedAt | date }}
      </div>

      <div class="float-right h4">
        <a class="btn btn-sm btn-warning identifier-action"
          (click)="toggleFavorite()"
          title="Add to favorites"
        >
          <i class="fa-star"
            [ngClass]="{
              'fas': isFavorite,
              'far': ! isFavorite
            }"
          ></i>
        </a>

        <a class="btn btn-sm btn-warning identifier-action"
          (click)="toggleListened()"
          title="Mark as listened"
        >
          <i class="fa-head-side-headphones fa-flip-horizontal"
            [ngClass]="{
              'fas': listenedAt,
              'far': ! listenedAt
            }"
          ></i>
        </a>

        <a class="btn btn-sm btn-warning identifier-action"
          (click)="toggleBookmark()"
          title="Bookmark"
        >
          <i class="fa-bookmark"
            [ngClass]="{
              'fas': isBookmarked,
              'far': ! isBookmarked
            }"
          ></i>
        </a>
      </div>

      <a [routerLink]="['/trove/creator', identifier._embedded.creator.id]" [queryParams]="{year: identifier.year}" class="h4">
        {{ identifier._embedded.creator.name }}
      </a>
      <br>
      <span class="h5">
        <a [routerLink]="['/trove/creator-identifier-performance-date', identifier._embedded.creator.id, identifier.performanceDate]">
          {{ identifier.performanceDate }}
        </a>
        <br>
        {{ identifier.venue }}
        <br>
        {{ identifier.coverage }}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <small>{{ identifier.archiveIdentifier }}</small>

      <div
        class="etreedb-summary"
        *ngIf="identifier._embedded.source?.summary"
        [innerHtml]="identifier._embedded.source?.summary"
      >
      </div>
    </div>
  </div>

  <a
    class="btn btn-sm"
    style="margin-top: 10px;"
    (click)="showDescription = ! showDescription"
    [ngClass]="{
      'btn-warning': ! showDescription,
      'btn-outline-warning': showDescription
    }"
  >
    Show Description
  </a>
  <pre *ngIf="showDescription" style="margin-top: 10px; font-size: .5em">{{ identifier._embedded.source?.description || identifier.description || 'No description available' }}</pre>

  <hr>

  <iframe
    [src]="embedUrl"
    width="100%"
    height="380px"
    frameborder="0"
  ></iframe>
</div>