<div class="container" *ngIf="identifier">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-warning" *ngIf="listenedTo">
        Marked as listened on {{ listenedTo.date | stringToDate | date }}
      </div>

      <div class="float-right h4">
        <a class="btn btn-sm btn-warning identifier-action"
          (click)="toggleFavorite()"
          title="Add to favorites"
        >
          <i class="fa-heart"
            [ngClass]="{
              'fas': isFavorite,
              'far': ! isFavorite
            }"
          ></i>
        </a>

        <a class="btn btn-sm btn-warning identifier-action"
          (click)="toggleListened()"
          title="Mark as listened"
        >
          <i class="fa-head-side-headphones fa-flip-horizontal"
            [ngClass]="{
              'fas': listenedTo,
              'far': ! listenedTo
            }"
          ></i>
        </a>

        <a class="btn btn-sm btn-warning identifier-action"
          (click)="toggleBookmark()"
          title="Bookmark"
        >
          <i class="fa-bookmark"
            [ngClass]="{
              'fas': isBookmarked,
              'far': ! isBookmarked
            }"
          ></i>
        </a>
      </div>

      <a [routerLink]="['/trove/creator', identifier._embedded.creator.id]" [queryParams]="{year: identifier.year}" class="h4">
        {{ identifier._embedded.creator.name }}
      </a>
      <br>
      <span class="h5">
        <a [routerLink]="['/trove/creator-identifier-performance-date', identifier._embedded.creator.id, identifier.performanceDate]">
          {{ identifier.performanceDate }}
        </a>
        <br>
        {{ identifier.venue }}
        <br>
        {{ identifier.coverage }}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <small><strong>{{ identifier.archiveIdentifier }}</strong></small>

      <div
        class="etreedb-summary"
        *ngIf="identifier._embedded.source?.summary"
        [innerHtml]="identifier._embedded.source?.summary"
      >
      </div>
    </div>
  </div>

  <a
    *ngIf="identifier._embedded.source && settings.showEtreeDbSouceLink"
    class="btn btn-sm btn-warning"
    style="margin-top: 10px; display: block"
    target="_blank"
    href="https://etreedb.org/shn/{{ identifier._embedded.source?.id }}"
  >
    etreedb.org source
  </a>

  <a
    class="btn btn-sm"
    style="margin-top: 10px;"
    (click)="showDescription = ! showDescription"
    [ngClass]="{
      'btn-warning': ! showDescription,
      'btn-outline-warning': showDescription
    }"
  >
    Show Description
  </a>

  <pre class="etreedb-description" *ngIf="showDescription && identifier._embedded.source?.description">{{ identifier._embedded.source?.description }}</pre>

  <pre class="description" *ngIf="showDescription && ! identifier._embedded.source?.description">{{ identifier.description || 'No description available' }}</pre>

    <hr>

    <table class="table player" *ngIf="false && player && settings.useArchivePlayer">
      <tr>
        <td style="border-top: none;" class="text-center" colspan="2">
          <a class="btn btn-warning btn-lg player-control"
            (click)="player.skip('prev')"
          ><i class="fas fa-arrow-alt-to-left"></i></a>

          <a class="btn btn-warning btn-lg player-control"
            (click)="player.song.playing() ? player.song.pause() : player.song.play()"
          ><i class="fas"
            [ngClass]="{
              'fa-play': ! player.song.playing(),
              'fa-pause': player.song.playing()
            }"
          ></i></a>

          <a class="btn btn-warning btn-lg player-control"
            (click)="player.skip('next')"
          ><i class="fas fa-arrow-alt-to-right"></i></a>

          <br>

          <input type="range" min="0" max="100000000" [value]="soundProgress.position" class="custom-range" id="customRange1">
        </td>
      </tr>
      <tr *ngFor="let song of player.playlist"
        [ngClass]="{
          'table-warning': song === player.song
        }">
        <td (click)="player.song.stop() && song.play()">
          {{ song.title }}<br>
        </td>
        <td class="text-right">
          {{ song.duration }}
        </td>
      </tr>
    </table>


    <iframe
      *ngIf="true || settings.useArchivePlayer"
      [src]="embedUrl"
      width="100%"
      height="380px"
      frameborder="0"
    ></iframe>
</div>

