<ngx-loading-bar></ngx-loading-bar>

<router-outlet></router-outlet>

<footer class="container">
  <hr>

  <div class="row">
    <div class="col-md-12">
      For administrative requests email
      <a class="cursor-help" href="mailto:contact@lcdb.org">contact@lcdb.org</a>
      <br>
      <a href="https://lcdb.org/db/index/privacy">Privacy Policy & Terms of Service</a>
      <br>
      &copy;<a class="cursor-outbound" href="https://lcdb.org">lcdb.org</a>
        and open source
        @<a class="cursor-outbound" href="https://github.com/lcdborg/trove">github.com/lcdborg/trove</a>
    </div>
  </div>

  <div class="row" *ngIf="version">
    <div class="col-12">
      <small>Version: {{ version }}</small>
    </div>
  </div>
</footer>
