<ngx-loading-bar></ngx-loading-bar>

<router-outlet></router-outlet>

<footer class="container">
  <hr>

  <div class="row">
    <div class="col-md-12">
      For administrative requests email
      <a class="cursor-help" href="mailto:contact@etreedb.org">contact@etreedb.org</a>
      <br>
      &copy;<a class="cursor-outbound" href="https://etreedb.org">etreedb.org</a>
        and open source
        @<a class="cursor-outbound" href="https://github.com/etreedb/trove">github.com/etreedb/trove</a>
    </div>
  </div>

  <div class="row" *ngIf="version">
    <div class="col-12">
      <small>Version: {{ version }}</small>
    </div>
  </div>
</footer>