<div class="container" *ngIf="halIdentifier">
  <div class="row">
    <div class="col-12 h4">
      <a [routerLink]="['/trove/creator', creator.id]" [queryParams]="{year: performanceDate.substr(0, 4)}">
        {{ creator.name }}
      </a>
      <br>
      {{ performanceDate }}
    </div>
  </div>

  <hr>

  <div class="row">
    <div
      class="col-12 identifier"
      (click)="identifierDetail(identifier.id)"
      *ngFor="let identifier of halIdentifier._embedded.identifier"
    >

      <small>
        <i class="fas fa-head-side-headphones fa-flip-horizontal text-warning"
          *ngIf="keys.includes('listened_' + identifier.id)"
          title="Mark as listened"
        ></i>

        {{ identifier.archiveIdentifier }}
      </small>
      <div
        class="etreedb-summary"
        *ngIf="identifier._embedded.source?.summary"
        [innerHtml]="identifier._embedded.source?.summary"
      >
      </div>
    </div>
  </div>
</div>
