div.identifier:nth-child(even) {
  background: #DDD
}

div.identifier:nth-child(odd) {
  background: #FFF
}

div.etreedb-summary {
  border: solid;
  border-width: 2px;
  border-color: #ef9b49;
  padding: 5px;
  margin-bottom: 5px;
}

span.icon {
  margin-right: 5px;
}