<div class="container">

  <div class="row">
    <div class="col-12" style="margin: .2em">

      <div class="input-group">
        <input
          #search
          type="text"
          class="form-control"
          placeholder="Search Artist Names"
          [(ngModel)]="artistSearch"
          tabindex="1"
          spellcheck="false"
          autocapitalize="off"
          autocorrect="off"
          autocomplete="off"
          placeholder="Artist Name"
          (keyup)="submitSearch($event)"
        >
        <div class="input-group-append" (click)="clearSearch()">
          <span class="input-group-text">x</span>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row" *ngIf="halCreator">
    <div
      class="col-12 creator"
      (click)="creatorDetail(creator.id)"
      *ngFor="let creator of halCreator._embedded.creator">
        {{ creator.name }}
    </div>
  </div>

  <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    >
  </div>
</div>