<div class="container">

  <div class="row">
    <div class="col-12">
      <button
        class="cursor-clickable alphabet"
        *ngFor="let character of alphabet()"
        [ngClass]="{
          'btn-primary': character === currentSearch
        }"
        (click)="search(character);"
        >
        {{ character }}
      </button>
      <button
        class="cursor-clickable alphabet"
        [ngClass]="{
          'btn-primary': ! currentSearch
        }"
        (click)="search('');"
        >
        [ ]
      </button>
    </div>
  </div>
</div>

<hr>

<app-creator-list-ui *ngIf="halCreator" [creatorArray]="halCreator._embedded.creator"></app-creator-list-ui>

<div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
</div>
